<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>BlogList</title>
</head>

<body>

<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>

<div class="container">
    <div class="row">

        <input type="hidden" id="articles" th:value="${Articles}"/>

        <br><br>
        <div class="col-md-8 article-main" id="listMain"><br><br></div>

        <script>
            var articles=$.parseJSON(document.getElementById("articles").value);
            console.log(articles);
            if(articles.length==0)
            {
                $("#listMain").append("<p>Sorry, There's no article under this type!</p>");
            }
            else {
                for (var i = 0; i < articles.length; i++) {
                    var single = "<div class=\"row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative\">\n" +
                        "        <div class=\"col p-4 d-flex flex-column position-static\">\n" +
                        "          <strong class=\"d-inline-block mb-2 text-primary\">" + articles[i].type + "</strong>\n" +
                        "          <h3 class=\"mb-0\">" + articles[i].title + "</h3>\n" +
                        "          <div class=\"mb-1 text-muted\">" + articles[i].createDate + "</div>\n" +
                        "          <a class='stretched-link' href='/article/blog/" + articles[i].id + "'>Read Detail</a>\n" +
                        "        </div>\n" +
                        "        <div class=\"col-auto d-none d-lg-block\">\n" +
                        "          <svg class=\"bd-placeholder-img\" width=\"200\" height=\"250\" xmlns=\"http://www.w3.org/2000/svg\" preserveAspectRatio=\"xMidYMid slice\" focusable=\"false\" role=\"img\" aria-label=\"Placeholder: Thumbnail\"><title>Placeholder</title><rect width=\"100%\" height=\"100%\" fill=\"#55595c\"/><text x=\"50%\" y=\"50%\" fill=\"#eceeef\" dy=\".3em\">Thumbnail</text></svg>\n" +
                        "        </div>\n" +
                        "      </div>\n";
                    $("#listMain").append(single);
                }
            }
        </script>

        <aside class="col-md-4 blog-sidebar">
            <div id="sidebar-common"></div>
        </aside>
        <script>
            $("#sidebar-common").load("/common/Sidebar.html");
        </script>
    </div>
    <div class="col-md-8" id="page">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>


<div class="container">
    <div id="Footer-common"></div>
</div>
<script>
    $("#Footer-common").load("/common/Footer.html");
</script>

</body>
</html>