<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <script src="/webjars/tinymce/5.1.6/tinymce.js"></script>
    <title>Blog</title>
</head>

<body>
<input type="hidden" id="screenName" th:value="${ScreenName}"/>

<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>
<input type="hidden" id="article" th:value="${Article}"/>
<input type="hidden" id="comments" th:value="${Comments}"/>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 article-title" id="article-title">
                    <label style="font-size: 32px" id="articleTitle">123</label>
                    <br>
                    <label style="font-size: 16px" id="articleAuthor">123</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 article-main" id="article-main">
                    <article id="articleContent">123</article>
                </div>
                <div class="translation" id="translation"></div>
            </div>
            <div class="=row">
                <div class="col-md-12 comment-main">
                    <div class="row" id="mp3test">
                        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="toMp3()">Compile MP3</button>
                    </div>
                    <div class="row" id="translationTest">
                        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="translation()">Translation</button>
                    </div>
                    <div class="comment-main">
                        <br><br>
                        <label>评论区</label><br>
                        <article id="viewComments"></article>
                    </div>
                    <div class="comment-add" id="commentAdd"></div>
                </div>
            </div>
        </div>
        <aside class="col-md-4 blog-sidebar">
            <div id="sidebar-common"></div>
        </aside>
        <script>
            $("#sidebar-common").load("/common/Sidebar.html");
        </script>
    </div>
</div>

<script>
    var article=$.parseJSON(document.getElementById("article").value);
    document.getElementById("articleTitle").innerHTML=article.title;
    //可能要做成点击Author跳转到UserDetail页面
    document.getElementById("articleAuthor").innerHTML="Published by "+article.author;
    document.getElementById("articleContent").innerHTML=article.content;
    var comments=$.parseJSON(document.getElementById("comments").value);
    if(comments.length==0)
    {
        document.getElementById("viewComments").innerHTML=("<p>It's a pity that this article hasn't commented yet.<\p>");
    }
    else
    {
        var sum = "";
        for(var i=0;i<comments.length;i++)
        {
            var single= "<div class='row justify-content-between'>" +
                "<div>Author: "+comments[i].author+"<br>"+
                "Post at: "+comments[i].createDate+"<br>"+
                comments[i].content+"</div>" +
                "</div><br>";
            var sum = sum + single;
            console.log(single);
        }
        document.getElementById("viewComments").innerHTML=sum;
    }
    if(document.getElementById("screenName").value=="")
    {
        document.getElementById("commentAdd").innerHTML=("<div>Please<a href=\"/signIn\"> sign in</a> " +
            "to post your comments</div>")
    }
    else
    {
        document.getElementById("commentAdd").innerHTML=("<textarea id=\"comment\">Add your comment</textarea>\n" +
            "<button class=\"btn btn-lg btn-primary btn-block\" type=\"button\" onclick=\"submitComment()\">Submit Comment</button>");
    }

    tinymce.init({
        selector: '#comment',
        height:300,
        branding: false,
    });
</script>

<script>
    function submitComment() {
        var content = tinyMCE.activeEditor.getContent();
        var time = new Date().getTime().toString();
        var json = JSON.stringify({
            "content": content,
            "createDate":time,
            "articleId":article.id,
        });
        console.log(json);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/comment/addComment',
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    alert(data.message);
                    window.location.reload();
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }

    var mp3Url;
    function toMp3() {
        var text = document.getElementById("articleContent").innerText;
        var json = "";
        var url = '/ai/textToSpeech?text='+text;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    mp3Url=data.message;
                    document.getElementById("mp3test").innerHTML="<button class=\"btn btn-lg btn-primary btn-block\" type=\"button\" onclick=\"play()\">Play MP3</button>";
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }

    function play() {
        console.log(mp3Url);
        var audio= new Audio(mp3Url);
        audio.play();
    }

    function translation() {
        document.getElementById("article-main").className="col-md-4 article-main";
        document.getElementById("translation").className="col-md-4 translation";
        var text = document.getElementById("articleContent").innerText;
        var url = '/ai/translation?text='+text;
        var json="";
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    document.getElementById("translation").innerText=data.message;
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }
</script>

<div class="container">
    <div id="Footer-common"></div>
</div>
<script>
    $("#Footer-common").load("/common/Footer.html");
</script>

<script>


</script>


</body>
</html>