<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <script src="/webjars/tinymce/5.1.6/tinymce.js"></script>
    <title>Edit Blog</title>
</head>
<body>

<input type="hidden" id="screenName" th:value="${ScreenName}"/>
<script>
    if(document.getElementById("screenName").value=="")
    {
        alert("You must login first or you are not login as the author!");
        window.location.href='/signIn';
    }
    var screenName=$.parseJSON(document.getElementById("screenName") .value);
    console.log(screenName);
</script>

<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>

<div class="container">
    <form method="post" class="form-blog">

        <input type="hidden" id="article" th:value="${Article}"/>
        <input type="hidden" id="type" th:value="${Type}"/>
        <br><br>
        <div class="row">
            <div class="col-md-8"><label style="font-size:large" id="articleTitle"></label></div>
            <div class="col-md-4"><label style="font-size:large" id="typeName"></label></div>
        </div>


        <textarea id="blogContent"></textarea>

        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="submitArticle()">Submit Article</button>

        <script>
            var article=$.parseJSON(document.getElementById("article").value);
            document.getElementById("articleTitle").innerHTML=article.title;
            document.getElementById("blogContent").innerHTML=article.content;
            var Type=$.parseJSON(document.getElementById("type").value);
            document.getElementById("typeName").innerHTML="文章类型："+Type.name;
            console.log(article);
        </script>

    </form>
</div>

<script>

    tinymce.init({
        selector: '#blogContent',
        height:500,
        branding: false,
    });
</script>

<script>
    function submitArticle() {
        var content = tinyMCE.activeEditor.getContent();
        var time = new Date().getTime().toString();
        var json = JSON.stringify({
            "id":article.id,
            "title": article.title,
            "content": content,
            "lastEditDate": time,
            "typeId":article.typeId,
        });
        console.log(json);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/article/update',
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    alert(data.message);
                    window.location.href='/article/blog/'+article.id;
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }
</script>


<div class="container">
    <div id="Footer-common"></div>
</div>
<script>
    $("#Footer-common").load("/common/Footer.html");
</script>


</body>
</html>