<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Index</title>
</head>
<body>

    <input type="hidden" id="address" th:value="${Address}"/>
    <script>
        // get the address from google
        if(document.getElementById("address").value=="")
        {
            // here if leave empty, it will chose my wifi point
            var mywifi = JSON.stringify({"wifiAccessPoints":[]});
            $.ajax({
                type: "POST",
                dataType: "json",
                url: 'https://www.googleapis.com/geolocation/v1/geolocate?key=APIKEY',
                contentType: "application/json",
                data: mywifi,
                success:function (latlng) {
                    var data = latlng;
                    var location = data.location;
                    var lat =location.lat;
                    var lng = location.lng;
                    var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+lat+','+lng+"&language=en-AU&key=APIKEY";
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: url,
                        data: "",
                        success:function (address){
                            var pc = address.plus_code;
                            var cc = pc.compound_code;
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "/addAddress?address="+cc,
                                data: "",
                            });
                        }});
                }
            });
        }
    </script>
    <div class="container">
        <div id="navbar-common"></div>
        <div id="userInfo"></div>
    </div>
    <script>
        $("#navbar-common").load("common/Navbar.html");
    </script>
    <input type="hidden" id="screenName" th:value="${ScreenName}"/>
    <input type="hidden" id="covid19" th:value="${COVID19}"/>
    <script>
        var address = document.getElementById("address").value;
        if(document.getElementById("screenName").value=="")
        {
            var ele = "Hello tourist from "+address+" , Click here to "+"<a href=\"/signIn\">Sign In</a>"+
                " or "+"<a href=\"/signUp\">Sign Up</a>";
            document.getElementById("userInfo").innerHTML=ele;
        }
        else {
            var screenName=$.parseJSON(document.getElementById("screenName") .value);
            var ele = "Hello, " + screenName +" your current login address is "+address +"<a onclick=\"signOut()\">( Sign Out )</a>";
            document.getElementById("userInfo").innerHTML=ele;
        }

    </script>

    <div class="container">
        <input type="hidden" id="types" th:value="${Types}"/>
        <input type="hidden" id="article" th:value="${LatestArticle}"/>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-between" id="typeNavList"></nav>
                </div>
            </div>
            <script>
                var types=$.parseJSON(document.getElementById("types") .value);
                for(var i=0;i<types.length;i++)
                {
                    var single= "<a class=\"p-2 text-muted\"href='/article/blogList/"+types[i].id+"'>"+types[i].name+"<\a><br>";
                    console.log(single);
                    $("#typeNavList").append(single);
                }
            </script>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators" id="indicators"></ol>
                            <div class="carousel-inner" id="carousel-inner"></div>
                            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="latestArticle">
                        <br>
                        <h3>Latest Article:</h3>
                        <br>
                    </div>
                </div>
            </div>
            <script>
                var covid19 = $.parseJSON(document.getElementById("covid19").value);
                $("#indicators").append("<li data-target=\"#carouselIndicators\" data-slide-to=\"0\" class=\"active\"></li>");
                $("#carousel-inner").append("<div class=\"carousel-item active\">\n" +
                    "         <img src=\"https://storage.googleapis.com/applebird5814-bucket/COVID19bg.jpg\"/>\n" +
                    "         <div class=\"carousel-caption\">\n" +
                    "         <h4 class=\"text-dark\">LIVE Covid-19 Broadcast</h4>\n" +
                    "         <p class=\"text-dark\">"+covid19[0]+"</p>\n" +
                    "         <br>\n" +
                    "         </div>\n" +
                    "         </div>");
                for(var i=1;i<covid19.length;i++)
                {
                    $("#indicators").append("<li data-target=\"#carouselIndicators\" data-slide-to=\""+i+"\"></li>");
                    var single = "<div class=\"carousel-item\">\n" +
                        "         <img src=\"https://storage.googleapis.com/applebird5814-bucket/COVID19bg.jpg\"/>\n" +
                        "         <div class=\"carousel-caption\">\n" +
                        "         <h4 class=\"text-dark\">LIVE Covid-19 Broadcast</h4>\n" +
                        "         <p class=\"text-dark\">"+covid19[i]+"</p>\n" +
                        "         <br>\n" +
                        "         </div>\n" +
                        "         </div>";
                    $("#carousel-inner").append(single);
                }
                console.log(document.getElementById("carousel-inner"));
                var article=$.parseJSON(document.getElementById("article").value);
                var single = "<div class=\"row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative\">\n" +
                    "        <div class=\"col p-4 d-flex flex-column position-static\">\n" +
                    "          <strong class=\"d-inline-block mb-2 text-primary\">" + article.type + "</strong>\n" +
                    "          <h3 class=\"mb-0\">" + article.title + "</h3>\n" +
                    "          <div class=\"mb-1 text-muted\">" + article.createDate + "</div>\n" +
                    "          <a class='stretched-link' href='/article/blog/" + article.id + "'>Read Detail</a>\n" +
                    "        </div>\n" +
                    "      </div>\n";
                $("#latestArticle").append(single);
            </script>
            <aside class="col-md-4 blog-sidebar">
                <div id="sidebar-common"></div>
            </aside>
            <script>
                $("#sidebar-common").load("common/Sidebar.html");
            </script>
        </div><!-- /.row -->

    </div>

    <div class="container">
        <div id="Footer-common"></div>
    </div>
    <script>
        $("#Footer-common").load("common/Footer.html");
    </script>

    <script>
        function signOut() {
            var json = "";
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/user/signOut',
                contentType: "application/json",
                data: json,
                success:function (data) {
                    if(data.success)
                    {
                        alert(data.message);
                        window.location.href='/index';
                    }
                    else
                    {
                        alert(data.message);
                    }
                }
            });
        }
        /*
        Object
        plus_code: {compound_code: "5WMR+5Q 澳大利亚維多利亞省墨尔本滨海港区", global_code: "4RJ65WMR+5Q"}
        results: Array(11)
        0:
        access_points: []
        address_components: Array(5)
        0: {long_name: "Victoria", short_name: "VIC", types: Array(2)}
        1: {long_name: "Docklands", short_name: "Docklands", types: Array(2)}
        2: {long_name: "Melbourne City", short_name: "Melbourne", types: Array(2)}
        3: {long_name: "澳大利亚", short_name: "AU", types: Array(2)}
        4: {long_name: "3008", short_name: "3008", types: Array(1)}
        length: 5
         */
    </script>

</body>
</html>
