<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Index</title>
</head>
<body>

    <input type="hidden" id="address" th:value="${Address}"/>
    <script>
        // get the address from google
        if(document.getElementById("address").value=="")
        {
            // here if leave empty, it will chose my wifi point
            var mywifi = JSON.stringify({"wifiAccessPoints":[]});
            $.ajax({
                type: "POST",
                dataType: "json",
                url: 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAITpqFq9cTFRE7ayYVNRWqs0CHCK1o5D8',
                contentType: "application/json",
                data: mywifi,
                success:function (latlng) {
                    console.log(latlng);
                    var data = latlng;
                    var location = data.location;
                    var lat =location.lat;
                    var lng = location.lng;
                    var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+lat+','+lng+"&language=en-AU&key=AIzaSyAITpqFq9cTFRE7ayYVNRWqs0CHCK1o5D8";
                    console.log(url);
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: url,
                        data: "",
                        success:function (address){
                            console.log(address)
                            var pc = address.plus_code;
                            var cc = pc.compound_code;
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "/addAddress?address="+cc,
                                data: "",
                            });
                        }});
                }
            });
        }
    </script>
    <div class="container">
        <div id="navbar-common"></div>
        <div id="userInfo"></div>
    </div>
    <script>
        $("#navbar-common").load("common/Navbar.html");
    </script>
    <input type="hidden" id="screenName" th:value="${ScreenName}"/>
    <script>
        var address = document.getElementById("address").value;
        console.log(address);
        if(document.getElementById("screenName").value=="")
        {
            var ele = "Hello tourist from "+address+" , Click here to "+"<a href=\"/signIn\">Sign In</a>"+
                " or "+"<a href=\"/signUp\">Sign Up</a>";
            document.getElementById("userInfo").innerHTML=ele;
        }
        else {
            var screenName=$.parseJSON(document.getElementById("screenName") .value);
            console.log(screenName);
            var ele = "Hello, " + screenName +" your current login address is "+address;
            document.getElementById("userInfo").innerHTML=ele;
        }

    </script>

    <div class="container">
        <input type="hidden" id="types" th:value="${Types}"/>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between" id="typeNavList"></nav>
        </div>
        <script>
            var types=$.parseJSON(document.getElementById("types") .value);
            console.log(types);
            for(var i=0;i<types.length;i++)
            {
                var single= "<a class=\"p-2 text-muted\"href='/article/blogList/"+types[i].id+"'>"+types[i].name+"<\a><br>";
                console.log(single);
                $("#typeNavList").append(single);
            }
        </script>

        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">

                    <div class="blog-post">
                        <h2 class="blog-post-title">Sample blog post</h2>
                        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

                        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                        <hr>
                        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                        <blockquote>
                            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </blockquote>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                        <h2>Heading</h2>
                        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <h3>Sub-heading</h3>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <pre><code>Example code block</code></pre>
                        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                        <h3>Sub-heading</h3>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <ul>
                            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                            <li>Donec id elit non mi porta gravida at eget metus.</li>
                            <li>Nulla vitae elit libero, a pharetra augue.</li>
                        </ul>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                        <ol>
                            <li>Vestibulum id ligula porta felis euismod semper.</li>
                            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                        </ol>
                        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
                    </div><!-- /.blog-post -->

                    <nav class="blog-pagination">
                        <a class="btn btn-outline-primary" href="#">Older</a>
                        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                    </nav>

                </div>

                <aside class="col-md-4 blog-sidebar">
                    <div id="sidebar-common"></div>
                </aside>

                <script>
                    $("#sidebar-common").load("common/Sidebar.html");
                </script>


            </div><!-- /.row -->
        </main><!-- /.container -->
    </div>

    <div class="container">
        <div id="Footer-common"></div>
    </div>
    <script>
        $("#Footer-common").load("common/Footer.html");
    </script>

    <script>
        /*
        */
        /*
        Object
        plus_code: {compound_code: "5WMR+5Q 澳大利亚維多利亞省墨尔本滨海港区", global_code: "4RJ65WMR+5Q"}
        results: Array(11)
        0:
        access_points: []
        address_components: Array(5)
        0: {long_name: "Victoria", short_name: "VIC", types: Array(2)}
        1: {long_name: "Docklands", short_name: "Docklands", types: Array(2)}
        2: {long_name: "Melbourne City", short_name: "Melbourne", types: Array(2)}
        3: {long_name: "澳大利亚", short_name: "AU", types: Array(2)}
        4: {long_name: "3008", short_name: "3008", types: Array(1)}
        length: 5
         */
    </script>

</body>
</html>